.home-hero {
    position: relative;
    background-image: url('../../assets/homeHero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hero-title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    animation: fadeInScaleUp 1.2s ease-out forwards;
  }
  
  .hero-subtitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    animation: fadeInSlideUp 1.5s ease-out forwards;
  }
  
  .hero-cta {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    animation: fadeInSlideUp 2s ease-out forwards;
  }
  
  .numbers p {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    animation: fadeInSlideUp 2.5s ease-out forwards;
  }
  
  .cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #ac1515;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    animation: fadeInButton 3s ease-out forwards;
  }
  
  .cta-button:hover {
    background-color: #8a1313;
    transform: scale(1.1);
  }
  
  @keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: translateY(-30px) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInButton {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  
  @media (max-width: 768px) {
    .hero-title {
      font-size: 3rem;
    }
  
    .hero-subtitle {
      font-size: 1.2rem;
    }
  
    .hero-cta {
      font-size: 1.1rem;
    }
  
    .numbers p {
      font-size: 1rem;
    }
  
    .cta-button {
      font-size: 1rem;
      padding: 0.8rem 1.6rem;
    }
  }
  