/* src/components/ContactInfo.css */

.contact-info {
    text-align: center;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ac1515;
    margin-bottom: 1.5rem;
  }
  
  .contact-description {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .contact-item {
    margin-bottom: 1.5rem;
  }
  
  .contact-item h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .contact-item ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-item ul li {
    font-size: 1.8rem;
    color: #333;
  }
  
  .contact-item a {
    font-size: 1.8rem;
    color: #ac1515;
    text-decoration: none;
  }
  
  .contact-item a:hover {
    text-decoration: underline;
  }
  